schemas/electronicMortgage/Commons/Commons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:siml="http://rosreestr.ru/services/v0.1/commonsMortgage/simple-types"
    targetNamespace="http://rosreestr.ru/services/v0.1/commonsMortgage/Commons"
    xmlns:tns="http://rosreestr.ru/services/v0.1/commonsMortgage/Commons">
    <xs:import namespace="http://rosreestr.ru/services/v0.1/commonsMortgage/simple-types" schemaLocation="CommonSimpleType.xsd"/>

    <xs:complexType name="TNote">
        <xs:sequence>
            <xs:element name="code" type="siml:s100" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Тэги дополнительных сведений (без справочного значения). Для уведомления контролирующего органа об отсутствии у застройщика права привлекать денежные средства граждан необходимо задавать код «Дополнительные сведения об отсутствии у застройщика права привлекать денежные средства граждан, являющихся участниками долевого строительства, на строительство (создание) многоквартирных домов». Для внесения сведений о приостановлении деятельности застройщика необходимо задавать: "Дополнительные сведения о приостановлении осуществления застройщиком деятельности, связанной с привлечением денежных средств участников долевого строительства для строительства (создания) многоквартирных домов и (или) иных объектов недвижимости". Для внесения сведений о ликвидации необходимо задавать: " Дополнительные сведения о ликвидации лица, привлекающего денежные средства участников долевого строительства для строительства (создания) многоквартирных домов и (или) иных объектов недвижимости".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="text" type="siml:s1000">
                <xs:annotation>
                    <xs:documentation>Дополнительные сведения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SKUVDNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SOKATO">
        <xs:annotation>
            <xs:documentation>Код ОКАТО</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
            <xs:pattern value="\d{1,11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SOKTMO">
        <xs:annotation>
            <xs:documentation>Код ОКТМО</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SPostalCodeRF">
        <xs:annotation>
            <xs:documentation> Почтовый индекс, РФ. Намеренно указаны одновременно и length и
                pattern, чтобы облегчить JavaScript коду валидацию "на лету". </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:pattern value="\d{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SCadastralNumber">
        <xs:annotation>
            <xs:documentation>Кадастровый номер объекта недвижимости</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <!-- TODO проверить, что все случаи кадастровых номеров покрываются -->
            <xs:pattern value="\d+:\d+:\d+:\d+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SCountryCodeISO3166alpha2">
        <xs:annotation>
            <xs:documentation>2-символьный код страны согласно ISO-3166, см.
                http://www.iso.org/iso/home/standards/country_codes.htm</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SPhoneNumber">
        <xs:annotation>
            <xs:documentation>Номер телефона</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <!-- regexp отсюда: http://stackoverflow.com/questions/2113908/what-regular-expression-will-match-valid-international-phone-numbers -->
            <xs:pattern
                value="\+(9[976][0-9]|8[987530][0-9]|6[987][0-9]|5[90][0-9]|42[0-9]|3[875][0-9]|2[98654321][0-9]|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)[0-9]{1,14}"
            />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SEMail">
        <xs:annotation>
            <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z_.\-]{1,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,63}"
            />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SCitizenship">
        <xs:annotation>
            <xs:documentation>Гражданство согласно справочнику ФМС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <!-- TODO формат мнемоники справочника гражданства --> </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SGender">
        <xs:annotation>
            <xs:documentation>Пол</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="male">
                <xs:annotation>
                    <xs:documentation>Мужской</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="female">
                <xs:annotation>
                    <xs:documentation>Женский</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sCertificate">
        <xs:annotation>
            <xs:documentation>Номер аттестата для кадастрового инженера, формат которого определен
                Порядком ведения Реестра кадастровых инженеров</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{1,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sGUID">
        <xs:annotation>
            <xs:documentation>строка GUID с ограничениями</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:pattern
                value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sFIAS">
        <xs:annotation>
            <xs:documentation>строка ФИАС с ограничениями</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
            <xs:pattern
                value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sCadastralNumberDistrict">
        <xs:annotation>
            <xs:documentation>Кадастровый номер кадастрового района</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{1,2}:\d{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sCadastralNumberZone">
        <xs:annotation>
            <xs:documentation>Кадастровый номер зоны. Формат значения: «Кадастровый номер
                КО».«Кадастровый номер КР».«Номер типа зоны».порядковый номер зоны в данном типе, 0
                - территория, 1 - ЗОУИТ, 2 - ТЗ, 3 - особая экономическая зона</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:pattern value="\d{1,2}\.\d{1,2}\.(([0-3])|([3]\-[0-9]+))\.[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sCadastralBlock">
        <xs:annotation>
            <xs:documentation>Номер кадастрового квартала.Формат: А:Б:В</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+:\d+:\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SCadastralNumberParcel">
        <xs:annotation>
            <xs:documentation>Кадастровый номер земельного участка. Формат КК:Г, где КК -
                кадастровый номер кадастрового квартала (см. выше), Г - натуральное
                число.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:pattern value="\d{1,2}:\d{1,2}:(\d{6,7}|\d{1}):\d{1,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sCadastralNumberNull">
        <xs:annotation>
            <xs:documentation>Кадастровый номер объекта недвижимости (в том числе учтенного в
                кадастровом округе "Общероссийский")</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:pattern value="\d{2}:\d{2}:\d{6,7}:\d{1,}"/>
            <xs:pattern value="0:0:0:\d+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus">
        <xs:annotation>
            <xs:documentation>Русский текст. Допускаются также пробелы, точки, запятые, тире, апострофы. Цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[а-яА-ЯёЁ\-0-9][а-яА-ЯёЁ\-\s'',.]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-100">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 100 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="tns:rus">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
